.Eng-DropDown, .Usd-DropDown{
    opacity: 0;
    
 
 }
 
 .Eng{
     transition: 2s;
 }
 .Usd{
     transition: 2s;
 }
 
 .Eng:hover .Eng-DropDown{
     opacity: 1;
    
 }
 .Usd:hover.Usd-DropDown{
     
     opacity: 1;
     
 }
 