
// pagination should be implemented mainly js will be used 
.blog-section{
    .container{
        .row{
            .content-primaryy{
                .site-posts{
                    .postt{
                        .post-thumbnail{
                            border-radius: 10px;
                            a{
                                border-radius: 10px;
                                img{
                                    border-radius: 10px;
                                }
                            }
                        }
                        .post-wrapper{
                            margin-top: 3%;
                            .entry-meta{
                                .meta-item{
                                    
                                    i{
                                        color: rgb(43, 154, 191);
                                        // font-weight: 700;
                                        font-size: 1.1rem;
                                    }
                                    a{
                                        text-decoration: none;
                                        color: rgb(79, 71, 71);
                                        font-weight: 900;
                                        opacity: 0.9;
                                        font-size: 0.86rem;
                                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                        transition: 1.4s;
                                        &:hover{
                                            border-bottom: solid grey 1px;
                                        }
                                    }
                                    
                                }
                            }
                            .entry-title{
                                margin-top: 2%;
                                a{
                                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                    text-decoration: none;
                                    font-weight: 900;
                                    font-size: 2.3rem;
                                    color: rgb(53, 49, 49);
                                }
                            }
                            .entry-content{
                                margin-bottom: 7%;
                                .klb-post{
                                    p{
                                        color: rgb(44, 40, 40);
                                        font-size: 1rem;
                                        font-weight: 600;
                                    }
                                    .entry-button{
                                        margin-top: 3%;
                                        background-color: rgb(22, 57, 138);
                                        border-radius: 5px;
                                        padding: 1% 0;
                                        a{
                                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                            font-weight: 500;
                                            text-decoration: none;
                                            color: white;
                                            opacity: 0.96;
                                        }
                                    }
                                }
                            }
                        }
                    }
                  
                    .site-pagination{
                        .page-numbers{
                            list-style: none !important;
                            li{
                                cursor: pointer;
                                .page-numbers{
                                    text-decoration: none;
                                    color: black;
                                    font-weight: 800;
                                    i{
                                        font-size: 0.8rem;
                                    }
                                }
                                .current{
                                    background-color: rgb(16, 139, 200);
                                    border-radius: 50%;
                                    padding: 0.4rem 1.1rem;
                                    color: white;
                                }
                                
                            }
                        }
                    }
                }
            }
            .content-secondary{

                .widget_search{
                    .search_form-box{

                        .search-form{
                            position: relative;
                            .form_control{
                                border-style: none;
                                border-radius: 5px;
                                padding: 0.8rem 4rem;
                                background-color: rgb(237, 243, 246);
                                font-size: 0.8rem;
                            }
                            .submit{
                                margin-top: 4%;
                                margin-left: -13%;
                                position: absolute;
                                border-style: none !important;
                                background-color: rgb(237, 243, 246);
                                i{
                                    color: rgb(73, 65, 65);
                                }
                            }
                        }
                    }
                }
                .widget_popular_posts{
                    
                    margin-top: 16%;
                    .widget-title{
                        font-size: 1.2rem;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                    .widget-body{
                        
                        .widget-posts{
                            border: 1px solid rgb(233, 227, 227);
                            border-radius: 10px;
                            .post{
                                padding: 1rem 1rem;
                                .post-thumbnail{
                                    margin-top: 4% !important;
                                    position: relative;
                                    .post-number{
                                        margin-left: 72%;
                                        border: 2px solid white;
                                        position: absolute;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 70%;
                                        padding: 1%;
                                        border-radius: 50%;
                                        background-color: rgb(35, 142, 204);
                                        color: white;
                                        font-weight: 600;
                                        opacity: 0.9;
                                        box-shadow: -1px 1px 11px 4px rgba(249,236,236,0.84);
                                        -webkit-box-shadow: -1px 1px 11px 4px rgba(249,236,236,0.84);
                                        -moz-box-shadow: -1px 1px 11px 4px rgba(249,236,236,0.84);
                                    }
                                    a{
                                        
                                        img{
                                            
                                            border-radius: 50%;
                                        }
                                    }
                                }
                                .post-wrapper{
                                    .entry-title{
                                        font-size: 100%;
                                        line-height: 100% !important;
                                        a{
                                            
                                            color: rgb(35, 33, 33);
                                            
                                            font-size: 1rem !important;
                                            font-weight: 600;
                                            text-decoration: none !important;
                                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .widget_social_list{
                    margin-top: 15%;
                    .widget-title{
                        font-weight: 900;
                        font-size: 1rem;
                        text-transform: uppercase;
                    }
                    .widget-body{
                        margin-top: 6%;
                        .site-social{
                            ul{
                               
                                list-style: none;
                                .facebook{
                                    background-color: rgb(10, 81, 214);
                                    border-radius: 10px;
                                    padding: 0.4rem 0;
                                    margin-top: 1%;

                                }
                                .twitter{
                                    background-color: rgb(20, 154, 231);
                                    border-radius: 10px;
                                    padding: 0.4rem 0;
                                    margin-top: 1%;
                                }
                                .pinterest{
                                    background-color: rgb(154, 11, 11);
                                    border-radius: 10px;
                                    padding: 0.4rem 0;
                                    margin-top: 1%;
                                }
                                .reddit{
                                    background-color: rgb(224, 80, 13);
                                    border-radius: 10px;
                                    padding: 0.4rem 0;
                                    margin-top: 1%;
                                }
                                .linkedin{
                                    background-color: rgb(13, 78, 116);
                                    border-radius: 10px;
                                    padding: 0.4rem 0;
                                    margin-top: 1%;
                                }   
                                li{ 
                                    
                                    a{
                                        margin-left: 10%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: start;
                                        text-decoration: none;
                                        gap: 2rem;
                                        i{
                                            color: white;
                                        }
                                        span{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .widget_media_image{
                    margin-top: 15%;
                    .widget-title{
                        font-weight: 900;
                        font-size: 1rem;
                        text-transform: uppercase;
                    }
                    img{

                    }
                }
                .widget_tag_cloud{
                    .widget-title{
                        font-size: 1.2rem;
                        font-weight: 800;
                        text-transform: uppercase;  
                    }
                    .tagcloud{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2%;
                        a{
                            border: 1px solid rgb(241, 233, 233);
                            text-decoration: none;
                            background-color: white;
                            color: black;
                            font-weight: 500;
                            font-size: 100%;
                            padding: 1% 4%;
                            margin-top: 2%;
                        }
                        .tag-link-26{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 20%;
                        }
                    }
                }
            }
        }
    }
}


.deactive{
    display: none !important;
}

@media only screen and (min-width:760px){
    .link-social{
        margin-left: -11%;
    }
}

