.container{
    .row{
        .site-login-container{
            .site-login-box{
               
                    border: 0.5px solid rgb(238, 236, 236);
                .login-page-tab{
                    list-style: none;
                    li{
                        .active{
                            text-decoration: none;
                            color: black;
                            font-family: sans-serif;
                            font-weight: 600;
                        }
                        .register{
                            text-decoration: none;
                            color: black;
                            font-family: sans-serif;
                            font-weight: 600;
                            opacity: 0.6;
                        }
                    }
                }
                .login-form-container{
                    .login-form-box{
                        .login-form{
                            .form-row{
                                label{
                                    font-size: 1rem;
                                    
                                    span{
                                        font-size: 1rem;
                                        font-weight: 500;
                                    }
                                }
                                .input-text{
                                    border-style: none;
                                    border-radius: 5px;
                                    padding: 0.8rem 4rem;
                                    background-color: rgb(237, 243, 246);
                                    font-size: 0.8rem;
                                }
                                .password-input{
                                    .input-text{
                                        position: relative;
                                        border-style: none;
                                        border-radius: 5px;
                                        padding: 0.8rem 4rem;
                                        background-color: rgb(237, 243, 246);
                                        font-size: 0.8rem;
                                        .show-password-input{
                                            position: absolute;
                                        }
                                    }
                                }
                                .login-rememberme{
                                    .input-checkbox{

                                    }
                                    span{

                                    }
                                }
                                #login-nonce{

                                }
                                .hiddenn{

                                }
                                .form-login-submit{

                                }
                            }
                            .lost-password{
                                a{

                                }
                            }
                        }
                    }
                    .register-form{

                    }
                }
            }
        }
    }
}