@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.a {
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 7px;
  margin-left: 0.375rem;
  top: 1px;
  font-weight: bolder;
}

.aside-header {
  background-color: #233a95;
  height: 40px;
}
.aside-header .covid {
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  padding: 9px 15px;
}

.header .container .row .top-header {
  position: relative;
  font-size: 0.8rem;
  color: #3e445a;
  background-color: #fff;
  border-bottom: 1px solid #e3e4e6;
  font-weight: 500;
  font-family: sans-serif;
}
.header .container .row .top-header .left-side .top-header-nav .top-header-nav-list {
  list-style: none;
}
.header .container .row .top-header .left-side .top-header-nav .top-header-nav-list .top-header-nav-list-item a {
  color: #3e445a;
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  text-decoration: none;
}
.header .container .row .top-header .left-side .top-header-nav .top-header-nav-list .top-header-nav-list-item a:hover {
  color: #6ec1e4;
}
.header .container .row .top-header .right-side .call-us {
  border-left: 1px solid #edeef5;
  margin-left: 1.125rem;
  padding-left: 1.125rem;
}
.header .container .row .top-header .right-side .language-money {
  border-left: 1px solid #edeef5;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list {
  list-style: none;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language {
  position: relative;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language a {
  text-decoration: none;
  display: inline-flex;
  height: 2.4375rem;
  font-weight: 500;
  align-items: center;
  transition: 0.3s ease;
  color: #3e445a;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language a:hover {
  color: #6ec1e4;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language .languages-list {
  background-color: #fff;
  border: 1px solid #edeef5;
  padding: 15px 0;
  left: -1.75rem;
  z-index: 1;
  position: absolute;
  top: 112%;
  margin: 0;
  box-shadow: 0 5px 10px rgba(62, 68, 90, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  color: #3e445a;
  transform: translateY(-5px);
  border-radius: 0 0 7px 7px;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language .languages-list .languages-list-item {
  width: 7.3rem;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 34px;
  background-color: white;
  border: none;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language .languages-list .languages-list-item a {
  width: 108px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  color: #3e445a;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language .languages-list .languages-list-item a:hover {
  color: #6ec1e4;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .language:hover .languages-list {
  opacity: 1;
  visibility: visible;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money {
  margin-left: 0.9375rem;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money a {
  text-decoration: none;
  display: inline-flex;
  position: relative;
  font-weight: 500;
  align-items: center;
  margin-left: 1.5rem;
  transition: 0.3s ease;
  color: #3e445a;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money a:hover {
  color: #6ec1e4;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money .money-list {
  background-color: #fff;
  border: 1px solid #edeef5;
  padding: 15px 0;
  z-index: 1;
  position: absolute;
  top: 112%;
  margin: 0;
  box-shadow: 0 5px 10px rgba(62, 68, 90, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  color: #3e445a;
  transform: translateY(-5px);
  border-radius: 0 0 7px 7px;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money .money-list .money-list-item {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money .money-list .money-list-item a {
  width: 80px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  transition: all 0.1s cubic-bezier(0.17, 0.62, 0.44, 0.99);
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money .money-list .money-list-item a:hover {
  color: #6ec1e4;
}
.header .container .row .top-header .right-side .language-money .language-money-list-nav .language-money-list .money:hover .money-list {
  opacity: 1;
  visibility: visible;
}
.header .container .row .center-header {
  background-color: #ffffff;
  padding-top: 1.875rem;
}
.header .container .row .center-header .logo {
  align-items: center;
  color: #3e445a;
}
.header .container .row .center-header .logo a {
  font-size: 2rem;
  color: #565656;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.header .container .row .center-header .logo a img {
  width: 100%;
  max-width: 100%;
}
.header .container .row .center-header .logo a .logo-text {
  display: block;
  padding: 0.3rem 0;
  font-size: 0.6875rem;
  opacity: 0.5;
  font-weight: 800;
}
.header .container .row .center-header .location-search {
  padding-left: 3.75rem;
}
.header .container .row .center-header .location-search .location {
  margin-right: 1.875rem;
}
.header .container .row .center-header .location-search .location a {
  text-decoration: none;
  background-color: #ffffff;
  color: #3e445a;
  border-color: #d9d9e9;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 11.25rem;
  min-height: 3.75rem;
  padding: 12px 1.125rem;
  border: 1px solid #d9d9e9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  transition: box-shadow 0.3s cubic-bezier(0.83, 0.26, 0.19, 0.87);
  cursor: pointer;
}
.header .container .row .center-header .location-search .location a .your-location {
  font-size: 0.625rem;
  opacity: 0.9;
  order: 1;
  font-weight: 700;
}
.header .container .row .center-header .location-search .location a .select-location {
  color: #233a95;
  font-size: 0.8125rem;
  font-weight: 900 !important;
  order: 3;
}
.header .container .row .center-header .location-search .location a .fa-chevron-down {
  font-size: 70%;
  position: absolute;
  top: 41%;
  right: 8%;
  font-weight: 600;
}
.header .container .row .center-header .location-search .location a:hover {
  background-color: #f6ecec;
  color: #3e445a;
  border-color: #d9d9e9;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
}
.header .container .row .center-header .location-search .search {
  position: relative;
  align-items: center;
  width: 100%;
  background-color: #f3f4f7;
  border-radius: 7px;
  padding: 0 30px 0 30px;
}
.header .container .row .center-header .location-search .search .search-form {
  width: 100%;
  border-radius: 7px;
}
.header .container .row .center-header .location-search .search .search-form .input {
  background-color: #f3f4f7;
  color: #202435;
  font-weight: 700;
  height: 3.75rem;
  display: inline-flex;
  align-items: center;
  font-size: 0.9375rem;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
  font-size: 13.5px;
  border: none;
  outline: none;
}
.header .container .row .center-header .location-search .search .search-form .fa-solid {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 40%;
  padding: 20px;
  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
}
.header .container .row .center-header .location-search .search .search-form .fa-solid .search-button {
  color: #3e445a;
  cursor: pointer;
  text-align: center;
}
.header .container .row .center-header .accaunt {
  margin-left: 1.875rem;
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.header .container .row .center-header .accaunt .login .login-bg {
  font-size: 1.125rem;
  height: 2.625rem;
  width: 2.625rem;
  border-radius: 50%;
  border: 1px solid #e2e4ec;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header .container .row .center-header .accaunt .login .login-bg a {
  position: relative;
  color: #3e445a;
}
.header .container .row .center-header .accaunt .login .login-bg a .fa-user {
  font-size: 1.125rem;
}
.header .container .row .center-header .accaunt .store {
  margin-left: 0.9375rem;
  position: relative;
}
.header .container .row .center-header .accaunt .store a {
  display: inline-flex;
  align-items: center;
  color: #3e445a;
  position: relative;
  text-decoration: none;
}
.header .container .row .center-header .accaunt .store a .price {
  font-weight: 600;
  margin-right: 0.9375rem;
}
.header .container .row .center-header .accaunt .store a .shop {
  position: relative;
  background-color: #fff1ee;
  border-color: #fff1ee;
  font-size: 1.0625rem;
  width: 2.625rem;
  height: 2.625rem;
  border: 1px solid #e2e4ec;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.header .container .row .center-header .accaunt .store a .shop:hover .shop-drop-down-card {
  visibility: visible;
  opacity: 1;
}
.header .container .row .center-header .accaunt .store a .shop .shop-drop-down-card {
  padding: 20px;
  margin-top: 0.625rem;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(62, 68, 90, 0.1);
  border: 1px solid #edeef5;
  border-radius: 7px;
  position: absolute;
  max-width: 20rem;
  top: 100%;
  right: 0;
  min-width: 18.75rem;
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.header .container .row .center-header .accaunt .store a .shop .shop-drop-down-card .shop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.125rem;
  margin-top: 1.875rem;
}
.header .container .row .center-header .accaunt .store a .shop .shop-drop-down-card .shop-content .shop-basket-bg {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #eaecef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .row .center-header .accaunt .store a .shop .shop-drop-down-card .shop-content .shop-basket-bg .fa-basket-shopping {
  font-size: 35px;
  color: #ea2b0f;
}
.header .container .row .center-header .accaunt .store a .shop .shop-drop-down-card .shop-content .basket-text {
  font-size: 0.8125rem;
  font-weight: 500;
  margin-top: 0.9375rem;
}
.header .container .row .center-header .accaunt .store a .shop .shop-drop-down-card .shop-text {
  font-size: 0.75rem;
  text-align: center;
  border-top: 1px solid #edeef5;
  padding-top: 1.25rem;
}
.header .container .row .center-header .accaunt .store a .shop .fa-bag-shopping {
  width: 1em;
  text-align: center;
  color: #ea2b0f;
}
.header .container .row .center-header .accaunt .store a .icon-up-span {
  top: 2px;
  right: -4px;
  background-color: #ea2b0f;
  color: #ffffff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  min-width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
}

.bottom-header-nav {
  border-bottom: 1px solid #e3e4e6;
}
.bottom-header-nav .container .row {
  justify-content: space-between;
}
.bottom-header-nav .container .row .categories {
  padding-top: 1.6rem;
}
.bottom-header-nav .container .row .categories a {
  display: flex;
  flex-direction: column;
  background-color: #2bbef9;
  font-size: 0.9375rem;
  padding: 0 1.25rem;
  border-radius: 3.125rem;
  transition: all 0.15s cubic-bezier(0.28, 0.12, 0.22, 1);
  position: relative;
}
.bottom-header-nav .container .row .categories a .all-categories {
  height: 50px;
  width: 100%;
  display: flex;
  color: #ffffff;
  align-items: center;
}
.bottom-header-nav .container .row .categories a .all-categories .fa-bars {
  font-size: 14px;
}
.bottom-header-nav .container .row .categories a .all-categories .category-title {
  margin-left: 15px;
  font-size: 0.9375rem;
  font-family: "Dosis", sans-serif;
}
.bottom-header-nav .container .row .categories a .all-categories .fa-chevron-down {
  font-size: 12px;
  margin-left: 30px;
}
.bottom-header-nav .container .row .categories a .category-products {
  position: absolute;
  font-family: "Dosis", sans-serif;
  height: 1.125rem;
  padding: 2px 0.5rem;
  font-size: 0.625rem;
  font-weight: 600;
  color: #71778e;
  background-color: #edeef5;
  border: 1px solid #fff;
  border-radius: 1.125rem;
  bottom: -0.5rem;
  margin-left: 1.125rem;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list {
  display: flex;
  flex-direction: row;
  padding: 1.75rem 0 20px 0;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item {
  position: relative;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item:hover .home-drop-down-list {
  opacity: 1;
  visibility: visible;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item .home-drop-down-list {
  background-color: #fff;
  border: 1px solid #edeef5;
  position: absolute;
  min-width: 12.5rem;
  padding: 1.875rem 0;
  list-style: none;
  left: -0.9375rem;
  top: 163%;
  box-shadow: 0 5px 10px rgba(62, 68, 90, 0.1);
  transform: translateY(-5px);
  transition: all 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
  border-radius: 0 0 7px 7px;
  opacity: 0;
  visibility: hidden;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item .home-drop-down-list .home-drop-down-list-item a {
  color: #3e445a;
  background-color: #fff;
  font-size: 15px;
  width: 100%;
  padding: 0 34px;
  transition: all 0.1s cubic-bezier(0.17, 0.62, 0.44, 0.99);
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item .home-drop-down-list .home-drop-down-list-item a:hover {
  color: #2bbef9;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  padding: 0 1.125rem;
  height: 2.5rem;
  font-size: 15px;
  color: #3e445a;
  transition: all 0.15s cubic-bezier(0.28, 0.12, 0.22, 1);
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a .fa-chevron-down {
  font-size: 12px;
  margin-left: 15px;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a .fa-bacon,
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a .fa-cookie,
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a .fa-mug-hot {
  font-size: 20px;
  margin: 0 10px 5px 0;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a .fa-mug-hot {
  margin-bottom: 8px;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .bottom-nav-list-item a:hover {
  background-color: #f0faff;
  padding: 0 1.125rem;
  border-radius: 2.5rem;
  color: #2bbef9;
}
.bottom-header-nav .container .row .bottom-nav-bar .bottom-nav-list .active-page a {
  background-color: #f0faff;
  padding: 0 1.125rem;
  border-radius: 2.5rem;
  color: #2bbef9;
}/*# sourceMappingURL=index.css.map */