.h-m{
    ul{
        list-style: none;
        
        .home{
           
            a{
                text-decoration: none;
                font-size: 0.8rem;
                color: black;
                font-weight: 800 !important;
            }
        }
        .fa-solid{
            font-size: 0.8rem;
            color: grey;
            font-weight: 700;
        }
        .cart{
           
            font-size: 0.8rem;
            color: grey;
            font-weight: 700;
        }
    }
}


.cart-empty-page{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    .empty-icon{
        margin-left: 43%;
        width: 12%;
        height: 140px;
        border-radius: 50%;
        background-color: aliceblue;
        margin-bottom: 2%;
        svg{
            width: 100%;
            margin-top: 34%;
        }
        
    }
    .woocommerce-notices-wrapper{

    }
    .cart-emptyyy{
        color: red;
        font-weight: 900 !important;
        font-size: 1.2rem;
    }
    .return-to-shop{
        .button-primaryy{
            background-color: rgb(6, 6, 132);
            height: 3rem;
            border-radius: 1.4rem;
            text-decoration: none;
            color: white;
            font-weight: 600
        }
    }
}

.table-display-none{
    display: none;
}
// @media only screen and (min-width:1100px) {
//     .empty-icon{
//         width: 2%;
        
//     }
// }

// @media only screen and (min-width:760px) {
//     .empty-icon{
//         width: 15%;
//         margin-left: -10%;
//     }
// }
// @media only screen and (max-width:300px) {
//     .empty-icon{
//         width: 30%;
//         margin-left: 10%;
//     }
// }



.baskey-emptyy{
    display: none;
}


  
  
  .basket-container{
    border: 0.5px solid rgb(222, 213, 213);
    position: relative;
    font-family: sans-serif;
    border-radius: 10px;
    .total-pricee{
        padding: 3%;
        border: 0.5px solid rgb(226, 214, 214);
        border-radius: 10px;
        position: absolute;
        top: 0%;
        left: 106%;
        .title{
            border-bottom: 1px solid rgb(185, 175, 175);
            margin-bottom: 1rem;
            h4{
                font-weight: 700;
                font-size: 1.2rem;

            }
        }
        .subtotal{
            border-bottom: 1px solid rgb(185, 175, 175);
            .content{
                font-size: 0.8rem;
                font-weight: 600;
                font-family: sans-serif;
            }
            .price-first{

            }
        }
        .shipping{
            border-bottom: 1px solid rgb(185, 175, 175);
            p{
                font-size: 0.8rem;
                font-weight: 600;
                font-family: sans-serif;
            }
            form{
                ul{ 
                    direction:rtl;
                    list-style: none;
                    li{
                        font-size: 0.8rem;
                      
                        input{

                        }
                        label{
                            .shipment-fee{
                                color: red;
                                font-size: 1rem;
                            }
                        }
                    }
                    .none-click{
                        p{
                            font-weight: 400;
                            span{
                                font-weight: 600;
                            }
                        }
                    }
                }
                .change-address{
                    // margin-left: 30%;
                    a{
                        text-decoration: none;
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: rgb(13, 116, 160);
                    }
                }
                .submit{
                    background-color: rgb(182, 40, 40);
                    color: white;
                    border-radius: 5px;
                    padding: 12px 50px;
                    position: absolute;
                    margin-top: 20%;
                    margin-left: -37%;
                    border-style: none;
                }
            }
        }
        .total-value{
            border-bottom: 1px solid rgb(185, 175, 175);
            .total{
                font-size: 0.8rem;
                font-weight: 600;
                font-family: sans-serif;
            }
            .total_p{
                 font-weight: 700;
            }
        }
    }
  }






  .table-box{
    .product-count{
        margin-bottom: 2rem;
        border: 1px solid rgb(235, 231, 231);
        padding: 0.4rem;
        border-radius: 10px;
        .product-pcs{
            p{
                span{
                    color: red;
                    font-weight: 700;
                }
            }
        }
        .product-progress{
            span{

            }
        }
    }
    .tablee{
        #tableHead{

        }
        #tableBody{

        }
    }
    .remove-all{
        padding: 1%;
        form{
            .text{
                // border-color: 0.1px solid transparent rgb(229, 210, 210);
                border-style: none;
                border-radius: 5px;
                padding: 0.8rem 1.3rem;
                background-color: rgb(247, 245, 245);
                font-size: 0.8rem;
                // border-color: rgb(219, 206, 206);
            }
            .submit{
                padding: 1rem 0.8rem;
                border-style: none;
                border-radius: 5px;
                font-weight: 600;
                font-family: sans-serif;
                font-size: 0.7rem;
                color: rgb(240, 232, 232);
                background-color: rgb(11, 11, 133);
            }
        }
        .submit-removeAll{
            padding: 1rem 2rem;
            border-style: none;
            border-radius: 5px;
            font-weight: 600;
            font-family: sans-serif;
            font-size: 0.7rem;
            color: rgb(240, 232, 232);
            background-color: rgb(11, 11, 133);
        }
    }
  }
















  .fa-circle-plus, .fa-circle-minus{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
    color: rgb(219, 214, 214);
    font-size: 1.4rem;
  }

  .product-name{
    font-size: 0.8rem;
  }
  
    .fa-circle-minus:hover{
    transform: scale(1.5);
    color: rgb(82, 93, 90);
    }
  .fa-circle-plus:hover{
   transform: scale(1.5);
   color: rgb(82, 93, 90);
  }
  #Icon-delete{
    transition: 0.5s
  }
  #Icon-delete:hover{
    transform: scale(2);
    color: rgb(82, 93, 90);
  }
  
  .total-price{
    position: fixed;
    border-radius: 5px;
    background-color: red;
    color: white;
    width: 130px;
    height: 50px;
    width: 100px;
    top: 650px;
    left: 1386px;
    transition: 0.8s;
    display: none;
  }
  
  .total-price:hover{
    transform: scale(1.5);
  }