.klb-product-nav-wrapper{
    nav{
        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.klb-products-nav{
    display: none;
}
#product-430{

}